---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        {{ site.first_name }} {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

  <!-- Wrapper for subsequent sections with spacing -->
    <div style="margin-top: 30px;"> <!-- Adjust the margin-top value as needed -->



    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}
    
    <!-- Publications -->
    {% if page.publications %}
    <h2 class="section-spacing">Publications</h2>
    <ul>
      <li>Publication 1: Description of publication 1.</li>
      <li>Publication 2: Description of publication 2.</li>
      <!-- Add more publications as needed -->
    </ul>
    {% endif %}

    <!-- Working papers -->
    {% if page.working_papers %}    
    <h2 class="section-spacing">Working papers</h2>
    <ul>
      <li style="margin-bottom: 20px;">
        <strong>Blue spoons: sparking communication about appropriate technology use</strong> 
        <br>September 2022<br> 
        <br>(with Arun Chandrasekhar, Esther Duflo, Michael Kremer, Jon Robinson, and Frank Schilbach)<br>
        <a href="assets/pdf/CDKPRS.pdf" class="pdf-link" style="padding: 5px 10px; border: 1px solid #ccc; border-radius: 5px; text-decoration: none;">PDF</a>
      </li>
      <li style="margin-bottom: 20px;">
        <strong>Can income targeting be explained by dynamic sample selection?</strong>
        <br>July 2021<br>
        <br>(with Pedro Bessone)<br>
        <a href="assets/pdf/BP.pdf" class="pdf-link" style="padding: 5px 10px; border: 1px solid #ccc; border-radius: 5px; text-decoration: none;">PDF</a>
      </li>    
      <!-- Add more working papers as needed -->
    </ul>
    {% endif %}

    <!-- Work in Progress -->
    {% if page.work_in_progress %}        
    <h2 class="section-spacing">Work in Progress</h2>
    <ul>
      <li>Work in Progress 1: Description of work in progress 1.</li>
      <li>Work in Progress 2: Description of work in progress 2.</li>
      <!-- Add more work in progress as needed -->
    </ul>
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>
